# ---- Archivos y carpetas específicos de .NET Core ----
**/bin/
**/obj/
*.user
*.suo
*.userprefs
*.sln.docstates
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings

# ---- Archivos y carpetas específicos de Angular ----
# Dependencias
node_modules/

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Output de la compilación
/dist
/out-tsc

# Ficheros de configuración
.env

# ---- Archivos y carpetas comunes ----
.DS_Store
Thumbs.db
